
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #F5F8FF;

}

/* Shared Style */
.description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.orange-font{
    color: #E95A08;
}



/* header section */
.mobile-menu{
    display: none;
}
.nav-menu{
    display: block;

}
.head{
    margin-top: 30px;
    margin-bottom: 180px;
}
.nav-menu{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    
}

.logo{
    height: 132px;
    width: 82px;
}
.menu{
    width: 415px;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.menu a{
    text-decoration: none;  
}
.black-font{
    color: #252432;
    font-weight: 600;
}
.grey-font{
    color: #8987A1;
}
#cart-text{
    font-weight: 400;
}
.cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    white-space: nowrap;
}
.cart img{
    height: 24px;
    width: 24px;
}





/* Always Fresh Flower Section */
.always-fresh-flower{
    height: 461px;
    width: 1140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 180px;
    
}
.fresh-flower{  
    align-self: end;
}
.fresh-flower h2{
    font-size: 4rem;
}
.fresh-flower-image{
   align-self: end;
   height: 355px;
   width: 570px;
}



/* Our Plants */
.our-plants h2{
    font-size: 3rem;
    text-align: center;
}
.our-plants p{
    text-align: center;
    margin-bottom: 50px;
}




/* cart Section */
.flower-cart{
    height: 1000px;
    width: 1140px;
    margin-bottom: 180px;
}
.flower-cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.lily-blosom{
    justify-items: center;
    margin-bottom: 30px;
}
.lily-blosom img{
    height: 322px;
    width: 270px;
}

.product-title{
    font-size: 1.2rem;
    font-weight:normal;
    text-align: center;
} 
.price{
    font-size: 1rem;
    font-weight: bold;

}

.add-to-cart{
    background-color: #E95A08;
    border: none;
    height: 50px;
    width: 270px;

}
.add-to-cart a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1rem;
    height: 12px;
    width: 110px;

}



/* Plants lover section */
.flower-plants-container{
    display: grid;
    grid-template-columns: 550px 550px;
    /* grid-template-rows: 597px 597px; */
    gap: 50px;
    margin-bottom: 180px;
    
}
.badge-image{
    position: relative;
    width: 540px;
    height: 597px;
    padding-left: 10px;
    padding-right: 10px;
}
.badge-image img:first-child {
  width: 100%;
  height: auto;
  display: block;
}

#badge{
    position: absolute;
  top: -86px;
  right: -86px;
  width: 240px;
  height: 240px;
}
/* animation */
.spin-badge {
  width: 240px;
  height: 240px;
  animation: spin 3s linear infinite;

}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.plants-lover-title{
    font-weight: 700;
    font-size: 3rem;
    margin-left: 15px;
    
}

.description li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 1.2rem;
}

/* Join With Us */



.join-us{

  margin-left: calc(-1 * (100vw - 100%)/2); 
  margin-right: calc(-1 * (100vw - 100%)/2);  
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url(../assets/news-letter-bg.png);                      
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

background-image:
linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
url(../assets/news-letter-bg.png);                      
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 533px;
  margin-bottom: 50px;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: -2px;
}
.search input{
    width: 644px;
    height: 51px;
    font-size: 1rem;
}
input::placeholder{
    padding-left: 15px;
}
.subscribe{
    background-color: #E95A08;
    border: none;
    height: 55px;
    width: 270px;

}
.subscribe a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    height: 12px;
    width: 79px;

}
.join-title h2{
    color: white;
    font-size: 3rem;
    height: 68px;
    width: 586px;
    font-family: noto serif;
}
/* Footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 110px;
    height: 248px;
    width: 1120px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.left-side{
    width: 379px;
    height: 179px;
}
.left-side p{
    height: 81px;
    width: 359px;
    font-size: 1.4rem;
}
.left-side img{
    height: 82px;
    width: 135px;
}
.middle-one li a, .middle-two li a{
    text-decoration: none;
    color: #6B7280;
}
.middle-one li, .middle-two li{
    list-style: none;
    padding: 15px;
    white-space: nowrap;
}

.right-side{
    height: 36px;
    width: 216px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}
.right-side img{
    height: 36px;
    width: 36px;
}
#twitter{
    margin-top: 5px;
    height: 25px;
    width: 25px;
}
/* chellenging Part */
.sixty h3, .thirty h3, .twenty h3{
   padding: 0;
   margin: 0;
   font-family: nato serif;
}
.sixty h3, .thirty h3{
    font-size: 1.2rem;
    font-weight: 400;
}
.twenty h3{
    font-size: 2.5rem;
    font-weight: 600;
}
.sixty h4, .thirty h4, .twenty h4{
    padding: 0;
    margin: 0;
    text-decoration: underline;
}
.sixty h4, .thirty h4{
    font-size: 1rem;
    font-weight: 400;
}
.twenty h4{
    font-size: 1.8rem;
    font-weight: 400;
}

.sixty, .thirty, .twenty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.sixty{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 201px;
    width: 367px;
    align-items: center;


}
.thirty{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/deal-ana.png);
    background-color: #252432;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 201px;
    width: 367px;
}
.twenty{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/deal-zabo.png);
    height: 423px;
    width: 740px;
    border-radius: 14px;
}
.image-gallery{
   display: grid;
   grid-template-columns: 367px 753px;
   gap: 20px;
   margin-bottom: 180px;
}
.left-gl{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}




@media screen and (max-width: 425px){

 html, body {
  max-width: 100%;
  overflow-x: hidden;
}

   .head{
    margin-bottom: 0;
   }
  .nav-menu{
    display: none;

  }
.mobile-menu{
    height: 361px;
    width: 38px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding: 30px;

}
.mobile-menu img{
    height: 38px;
    width: 63px;
    }
.logo{
    justify-self: start;
}
.cart-mobile{
    height: 24px;
    width: 113px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: end;
}
.cart-mobile a{
    text-decoration: none;
}
.cart-mobile img{
    display: block;
    transform: scale(0.7);
    transform-origin: center;
    position: relative;
    left: 15px;
}

.fresh-flower{
    grid-area: fresh-flower;
    height: 147px;
    width: 361px;
    Padding-left: 10px;
    padding-right: 10px;    
}
.fresh-flower p, h2{
    padding-left: 25px;
    padding-right: 10px;
}


.fresh-flower-image{
    display: grid;
    grid-area: fresh-flower-image;
    width: 393px;
    height: 245px;
    padding-top: 0;
}
.always-fresh-flower{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "fresh-flower-image"
    "fresh-flower"
    ;
    gap: 120px;
    margin-top: -350px;
}
.heading-size h2{
    font-size: 1.5rem;

}
.description{
    font-size: 0.9rem;
}
.our-plants{
    height: 145px;
    width: 390px;
    padding-left: 20px;
    padding-right: 10px;
    
}

.our-plants h2{
    font-size: 1.5rem;
    margin-right: 20px;
}
.our-plants p{
    font-size: 0.8rem;
    margin-right: 35px;
}
.Our-plants-container{
    padding-left: 18px;
    padding-right: 10px;

}
.flower-plants-container{
    margin-bottom: 100px;
}

.flower-cart{
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-areas: 
    "lily-blosom"  "lily-blosom"
    ;
}


.lily-blosom{
    width: 171px;
    height: 340px;
    justify-items: center;
    

}
.lily-blosom img{
    height: 196px;
    width: 171px;
    margin-left: 15px;
}

.add-to-cart {
    transform: scale(0.63);
    transform-origin: left;
    margin-left: 15px;
}

.flower-plants-container{
    display: grid;
    grid-template-columns: 360px;
    gap: 30px;
    /* margin-bottom: 180px; */
    
}

.plants-lover-title{
    font-size: 1.5rem;
}
.plants-lover-title br{
    display:none;
}

.description li{
    max-width: 360px;
    font-size: 0.8rem;
    text-align: justify;
}

#badge{
    display:none;
}
#flowerbanner{
    height: 359px;
    width: 360px;
    padding-top: 300px;
    padding-left: 23px;
    padding-right: 10px;
  
}
.plants-lover{
    padding-top: 50px;
    margin-left: 10px;
}

.plants-lover-title{
    margin-left: 25px;
}



.join-us{
    background-size: contain;
    background-position: top center;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
background-image:
linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
url(../assets/news-letter-bg.png);                      
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 300px;

}
.join-title h2{
    font-size: 1.2rem;
    height: 27px;
    width: 237px;
}
.search input{
    height: 46px;
    width: 218px;
}
.subscribe{
    height: 50px;
    width: 103px;
}
footer{
    display: flex;
    flex-direction: column;
    height:auto;
    align-items: self-start;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    gap: 0;
    align-items: flex-start;

}    
.left-side{
    margin-left: 12px;
}
.right-side{
    margin-left: 12px;
    margin-top: 8px;
}
.middle-two ul, .middle-one ul{
    margin: 0;
    padding: 0;
}
.latest-deals-container{
    height: auto;
    width: 361px;
}
.image-gallery{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 35px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sixty{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 190px;
    width: 350px;
    align-items: center;

}
.thirty{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/deal-ana.png);
    background-color: #252432;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 190px;
    width: 350px;
    
}
.twenty{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/deal-zabo.png);
    height: 190px;
    width: 350px;
    border-radius: 14px;
   
}
.twenty h3{
    font-size: 1rem;
}
.twenty h4{
    font-size: 1rem;
}


.flower-plants-container{
    margin-bottom: 50px;
}



    
}







/* Responsive for 393px */

@media screen and (max-width: 393px){

   html, body {
  max-width: 100%;
  overflow-x: hidden;
}

   .head{
    margin-bottom: 0;
   }
  .nav-menu{
    display: none;

  }
.mobile-menu{
    height: 361px;
    width: 38px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding: 30px;

}
.mobile-menu img{
    height: 38px;
    width: 63px;
    }
.logo{
    justify-self: start;
}
.cart-mobile{
    height: 24px;
    width: 113px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: end;
}
.cart-mobile a{
    text-decoration: none;
}
.cart-mobile img{
    display: block;
    transform: scale(0.7);
    transform-origin: center;
    position: relative;
    left: 15px;
}

.fresh-flower{
    grid-area: fresh-flower;
    height: 147px;
    width: 361px;
    Padding-left: 10px;
    padding-right: 10px;    
}
.fresh-flower p, h2{
    padding-left: 10px;
    padding-right: 10px;
}


.fresh-flower-image{
    display: grid;
    grid-area: fresh-flower-image;
    width: 393px;
    height: 245px;
    padding-top: 0;
}
.always-fresh-flower{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "fresh-flower-image"
    "fresh-flower"
    ;
    gap: 120px;
    margin-top: -350px;
}
.heading-size h2{
    font-size: 1.5rem;

}
.description{
    font-size: 0.9rem;
}
.our-plants{
    height: 117px;
    width: 363px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.our-plants h2{
    font-size: 1.5rem;
}
.our-plants p{
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
}
.Our-plants-container{
    padding-left: 10px;
    padding-right: 10px;

}
.flower-plants-container{
    margin-bottom: 100px;
}

.flower-cart{
    display: grid;
    grid-template-columns: 180px 180px;
    grid-template-areas: 
    "lily-blosom"  "lily-blosom"
    ;
}


.lily-blosom{
    width: 171px;
    height: 340px;
    justify-items: center;
    

}
.lily-blosom img{
    height: 196px;
    width: 171px;
    margin-left: 15px;
}

.add-to-cart {
    transform: scale(0.63);
    transform-origin: left;
    margin-left: 15px;
}

.flower-plants-container{
    display: grid;
    grid-template-columns: 360px;
    gap: 30px;
    /* margin-bottom: 180px; */
    
}

.plants-lover-title{
    font-size: 1.5rem;
}
.plants-lover-title br{
    display:none;
}

.description li{
    max-width: 360px;
    font-size: 0.8rem;
    text-align: justify;
}

#badge{
    display:none;
}
#flowerbanner{
    height: 354px;
    width: 350px;
    padding-top: 300px;
    padding-left: 15px;
    padding-right: 10px;
  
}
.plants-lover{
    padding-top: 50px;
    margin-left: 10px;
}

.plants-lover-title{
    margin-left: 25px;
}



.join-us{
    background-size: contain;
    background-position: top center;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
background-image:
linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
url(../assets/news-letter-bg.png);                      
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 300px;

}
.join-title h2{
    font-size: 1.2rem;
    height: 27px;
    width: 237px;
}
.search input{
    height: 46px;
    width: 218px;
}
.subscribe{
    height: 50px;
    width: 103px;
}
footer{
    display: flex;
    flex-direction: column;
    height:auto;
    align-items: self-start;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    gap: 0;
    align-items: flex-start;

}    
.left-side{
    margin-left: 12px;
}
.right-side{
    margin-left: 12px;
    margin-top: 8px;
}
.middle-two ul, .middle-one ul{
    margin: 0;
    padding: 0;
}
.latest-deals-container{
    height: auto;
    width: 361px;
}
.image-gallery{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 25px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sixty{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 181px;
    width: 340px;
    align-items: center;

}
.thirty{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/deal-ana.png);
    background-color: #252432;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 181px;
    width: 340px;
    
}
.twenty{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/deal-zabo.png);
    height: 181px;
    width: 340px;
    border-radius: 14px;
   
}
.twenty h3{
    font-size: 1rem;
}
.twenty h4{
    font-size: 1rem;
}


.flower-plants-container{
    margin-bottom: 50px;
}



}









