
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #F5F8FF;

}

/* Shared Style */
.description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.orange-font{
    color: #E95A08;
}



/* header section */
.mobile-menu{
    display: none;
}
.nav-menu{
    display: block;

}
.head{
    margin-top: 30px;
    margin-bottom: 180px;
}
.nav-menu{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    
}

.logo{
    height: 132px;
    width: 82px;
}
.menu{
    width: 415px;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.menu a{
    text-decoration: none;  
}
.black-font{
    color: #252432;
    font-weight: 600;
}
.grey-font{
    color: #8987A1;
}
#cart-text{
    font-weight: 400;
}
.cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    white-space: nowrap;
}
.cart img{
    height: 24px;
    width: 24px;
}

/* Always Fresh Flower Section */
.always-fresh-flower{
    height: 461px;
    width: 1140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 180px;
    
}
.fresh-flower{  
    align-self: end;
}
.fresh-flower h2{
    font-size: 4rem;
}
.fresh-flower-image{
   align-self: end;
   height: 355px;
   width: 570px;
}









/* responsive */

@media screen and (max-width: 393px) {

   
  .nav-menu{
    display: none;

  }
.mobile-menu{
    height: 361px;
    width: 38px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding: 30px;

}
.mobile-menu img{
    height: 38px;
    width: 63px;
    }
.logo{
    justify-self: start;
}
.cart-mobile{
    height: 24px;
    width: 113px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: end;
}
.cart-mobile a{
    text-decoration: none;
}
.cart-mobile img{
    display: block;
    transform: scale(0.7);
    transform-origin: center;
    position: relative;
    left: 15px;
}

.always-fresh-flower{
    grid-template-columns: 1fr;

}
.resh-flower-image img{
    height: 245px;
    width: auto;
}




    
}
